.trackGroup{
  background: rgb(173, 150, 220);
  border: 1px solid black;
  padding: 5px;
}

.trackItem{
  display: flex;
}

.trackDateBox{
  background: lightgrey;
  border: 1px solid black;
}

.signInCont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: grey;
}