.trackCont{
  background: grey;
  display: flex;
}

.trackGroup{
  background: rgb(196, 176, 235);
  border: 1px solid black;
  padding: 0 3px;
}

.trackItem{
  display: flex;
  margin: 4px 0;
  /* font-size: 1px; */
}

.trackField{
  width: 2.4rem;
  margin: 0 3px;
  border: none;
  background: #F5F5F5;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.trackDateField{
  width: 6rem;
  border: none;

}

.trackDateBox{
  background: lightgrey;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.deleteEntryButtonDiv{
  background: lightgrey;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  /* height: 3rem; */
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 10px 0; */
}

/* .deleteEntryButton{
   width: 90%; 
} */

/* .addEntryButton{
  height: 50px;
}

.incrementButton{
  height: 1.3rem;
  width: 1.3rem;
  background: black;
  color: white;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 2px black;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  outline: none;
}
*/

.fabTest{
  margin-right: 0.3rem;
  margin-left: 0.3rem;
} 

/* .incrementAddIcon{
  font-size: 20px;
} */

/* ---- */

.colorPickerCont{
  /* background: lightgrey; */
  padding: 3px;
  margin: 3px;
  /* height: 10px;
  width: 60px; */
}

.testColor{
  background: mediumpurple;
  border-radius: 10px;
  border: none;
  height: 15px;
  width: 15px;
}

.signInCont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: grey;
}

